{% extends 'codingquestions/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    
  
    <div class="nav-scroller py-1 mb-2">
     
    </div>
  </div>
  
  <main class="container">
 
      <div class="col-md-10">
  
            <article class="blog-post">
                <h2 class="blog-post-title " id="blog__heading">{{question.problemstmt}}</h2>
                <p class="blog-post-meta" id="blog__date">{{question.created_on}}</p>
        
                <p id="blog__description">{{question.description}}</p>
    
            </article>
  
      </div>

  </main>
  

  
  

{% endblock %}