{% extends 'codingquestions/base.html' %}
{% load static %}
{% block css %}
.content__body{
	height: 86%;
    width: 100%;
    padding: 15px;
    overflow: auto;
    
}
#side_content{
   
	height: 521px;
    width: 100%;
    overflow: auto;
  
    
}
.questions{
    height:100%;
    width:95%;
    padding:0 35px;
    
}
{% endblock %}
{% block content %}
<div class="page" style="height:92%">

	<div id="sidebar">
		
			
				<div class="side">
					<div id="side_heading">
						<div class="side__heading">{{type}}</div>
					</div>
					<div id="side_content" class="questions">
						{% for question in questions %}
						<div class="question"><a href="{% url 'question' question.slug  %}">{{question}}</a></div>
						{% endfor %}
						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>asldfh</p>
						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>asldfh</p>

						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>asldfh</p>


						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>aklsdfjgh</p>
						<p>asldfh</p>
						<p>asldfh</p>


					</div>
				</div>

		
	</div>
	<div id="content">
		{% if flag %}
		<!-- {{heading}} -->
		{% endif %}
		{% block question_content %}



		{% endblock %}
	</div>
	<!-- <div id="rightbar"></div> -->


</div>

<script>
document.getElementById('content_content').innerHTML = return_html;
</script>
{% endblock %}