{% extends 'codingquestions/base.html' %}

{% block css %}

.main_div{
    height: 90%;
    position: relative;
    width: 100vw;
    background:black;
    display: flex;
}

.sidebar_div{
    top:0;
    width: 25vw;
    background: red;
    color:white;
    position:sticky;
}

.right_side_div{
    height:50%;
    width:75vw;
    background:blue;
    color:white;
    padding-left:20px;
    
    overflow:auto;
}

{% endblock %}


{% block content %}
<div class="main_div">
    <div class=sidebar_div>
        <p>sidebar</p>
    </div>
    <div class="right_side_div">

        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>
        <p>rightside</p>

    </div>
</div>
{% endblock %}