{% extends "codingquestions/base.html" %}
{% load static %}
{% block content %}

<div id="about__me">

    
    <div id="aboutme">
        
        <div id="aboutme__">
            <div id="circle">
                <div id="inside">
                   <img  src="{% static 'images/profile.PNG' %}" alt="">
                  
                </div>
                
            </div>
        </div>
        <div id="aboutme__mid">
            <p>Avinash Kumar</p>
            <p>Web Developer</p>
            <p><img src="https://www.pngkit.com/png/full/14-146161_white-location-icon-png-location-logo-png-white.png" alt="">
                Bhopal M.P</p>
            <div id="aboutme__logos">
                <div id="aboutme__logo"><img src="https://www.freepnglogos.com/uploads/facebook-logo-icon/facebook-logo-clipart-flat-facebook-logo-png-icon-circle-22.png" alt=""></div>
                <div id="aboutme__logo"><img src="https://www.freepnglogos.com/uploads/instagram-icon-png/instagram-icon-suzem-limited-make-known-20.png" alt=""></div>
                <div id="aboutme__logo"><img src="https://image.similarpng.com/very-thumbnail/2020/07/Linkedin-logo-on-transparent-Background-PNG-.png" alt=""></div>
                <div id="aboutme__logo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVON7lB7wn5nKJiFiHFoh88UQ4D0C3az1Itu09f4bhXCCTiqz7HeBQYGot5xr_B5expOQ&usqp=CAU" alt=""></div>
            </div>
        </div>
    </div>
    
    

</div>

{% endblock %}